In [2]:
P=int(input("enter the amt"))

enter the amt1000

In [3]:
N=int(input("enter no. of yrs"))

enter no. of yrs5

In [5]:
R=int(input("enter rate of int"))/100

enter rate of int5

In [6]:
I=P*N*R

In [8]:
print(I)

250.0

In [11]:
x=int(input("enter your salary"))

enter your salary50000

In [14]:
if x > 100000 :
  print("you are taxable")
  print=10%(100000)
if x < 100000 :
  print("you are not taxable")

you are not taxable

In [ ]:




if salary > 250000 :
    print("you are taxable")
    t=sal-250000
    tax=t*10/100
    print("tax", tax)
else:
  print("you are free from tax")

In [ ]:
if x < 250000 :
  print(".........")
  if