In [12]:
a=int(input("enter basic salary"))
b=int(input("enter HRA"))
c=int(input("enter special allowance"))
d=int(input("enter LTA"))

enter basic salary240000
enter HRA560000
enter special allowance340000
enter LTA20000

In [15]:
if a>250000 & a<500000:
  print("you are taxable")
  t=a*5/100
  print("tax",t)

you are taxable
tax 12000.0

In [ ]:
i=int(input("enter LTA:"))
if i>250000 and i<500000:
  q=i-250000
  print("TAX:",q*5/100)
elif i>500000 and i<750000:
  q=i-500000
  w=500000-250000
  print("TAX:",w*5/100+q*10/100)
elif i>750000 and i<1000000:
  q=i-750000
  w=500000-250000
  e=750000-500000
  print("TAX:",q*20/100+w*5/100+e*10/100))
elif i>1000000:
  q=i-1000000
  w=500000-250000
  e=750000-500000
  r=1000000-750000
  print("TAX:",q*30/100+w*5/100+e*10/100+r*20/100)